#{extends 'main.html' /}
#{set title:'Edit' /}

<h1>Edit Profile</h1>

<div id="col-one">

    <div class="profile-image">
        *{<%= image_tag @profile.photo.url(), :alt => @profile.full_name %>}*
        <img src="/public/${user.profile.getPhotoFileName()}" alt="${user.profile.getFullName()}"/>
    </div>
    <!-- /profile-image -->

    <div class="profile-actions">

    </div>
    <!-- /profile-actions -->

    <!--h2>User's profile updates (<%= @profile.statuses.count %>)</h2-->
    <h2>User's profile updates (${count})</h2>
    *{#{status /}}*
    #{list items:statuses, as:'status'}
    <div class="profile-stream">
        <div class="profile-stream-item">
            ${status.message}
            <!--%= render :partial => 'status', :collection => @profile.statuses %-->
        </div>
    </div>
    #{/list}
    <!-- /profile-stream -->

</div>
<!-- /col-one -->

<div id="col-two-large">
    <div class="profile-center">

        <h3>Edit your profile information here:</h3>
        <br />

        #{form @Profiles.update()}
        #{authenticityToken /}
        <div class="default-form">
            <ul>
                <label for="firstName">First name</label>
                <input type="text" name="firstName" id="firstName" value="${flash.firstName}" />
                <span class="">#{error 'firstName' /}</span>

                <label for="lastName">Last name</label>
                <input type="text" name="lastName" id="lastName" value="${flash.lastName}" />
                <span class="Error">#{error 'lastName' /}</span>

                <label for="lastName">Profession</label>
                <input type="text" name="profession" id="profession" value="${flash.profession}" />
                <span class="Error">#{error 'profession' /}</span>

                <label for="company">Company</label>
                <input type="text" name="company" id="company" value="${flash.company}" />
                <span class="Error">#{error 'company' /}</span>

                <label for="about">About me</label>
                <textarea name="about" id="about" cols="35" rows="3" >${flash.about}</textarea>
                <span class="Error">#{error 'about' /}</span>

                <fieldset>
                    <legend>Contact data</legend>
                    <ul>
                        <label>COMPANY EMAIL:</label>
                        #{if flash.companyEmail==NULL}
                         <input type="text" name="companyEmail" id="companyEmail" />
                        #{/if}
                        #{else}
                         ${flash.companyEmail}<input type="checkbox" name="bCompanyEmail" id="bCompanyEmail"/> Delete?<br /><br />
                        #{/else}
                        <label>PRIVATE EMAIL:</label>
                        #{if flash.privateEmail==NULL}
                         <input type="text" name="privateEmail" id="privateEmail" />
                        #{/if}
                        #{else}
                         ${flash.privateEmail}<input type="checkbox" name="bPrivateEmail" id="bPrivateEmail" /> Delete?<br /><br />
                        #{/else}
                        <label>COMPANY PHONE:</label>
                        #{if flash.companyPhone==NULL}
                         <input type="text" name="companyPhone" id="companyPhone" />
                        #{/if}
                        #{else}
                         ${flash.companyPhone}<input type="checkbox" name="bCompanyPhone" id="bCompanyPhone" /> Delete?<br /><br />
                        #{/else}
                        <label>MOBILE PHONE:</label>
                        #{if flash.mobilePhone==NULL}
                         <input type="text" name="mobilePhone" id="mobilePhone" />
                        #{/if}
                        #{else}
                         ${flash.mobilePhone}<input type="checkbox" name="bMobilePhone" id="bMobilePhone" /> Delete?<br /><br />
                        #{/else}
                        <label>PRIVATE PHONE:</label>
                        #{if flash.privatePhone==NULL}
                         <input type="text" name="privatePhone" id="privatePhone" />
                        #{/if}
                        #{else}
                         ${flash.privatePhone}<input type="checkbox" name="bPrivatePhone" id="bPrivatePhone"/> Delete?<br /><br />
                        #{/else}
                    </ul>
                </fieldset>

                <fieldset>
                    <legend>Business address</legend>
                    <label for="businessStreet">Street</label>
                    <input type="text" name="businessStreet" id="businessStreet" value="${flash.businessStreet}" />
                    <span class="">#{error 'businessStreet' /}</span>

                    <label for="businessZip">ZIP</label>
                    <input type="text" name="businessZip" id="businessZip" value="${flash.businessZip}" />
                    <span class="">#{error 'businessZip' /}</span>

                    <label for="businessCity">City</label>
                    <input type="text" name="businessCity" id="businessCity" value="${flash.businessCity}" />
                    <span class="">#{error 'businessCity' /}</span>
                </fieldset>

                <fieldset>
                    <legend>Private address</legend>
                    <label for="privateStreet">Street</label>
                    <input type="text" name="privateStreet" id="privateStreet" value="${flash.privateStreet}" />
                    <span class="">#{error 'businessStreet' /}</span>

                    <label for="privateZip">ZIP</label>
                    <input type="text" name="privateZip" id="privateZip" value="${flash.privateZip}" />
                    <span class="">#{error 'businessZip' /}</span>

                    <label for="privateCity">City</label>
                    <input type="text" name="privateCity" id="privateCity" value="${flash.privateCity}" />
                    <span class="">#{error 'privateCity' /}</span>
                </fieldset>

                <li class="submit-blue">
                    <input class="button-blue" value="Update Profile" name="submit" id="submit" type="submit" />
                </li>
            </ul>
        </div>
        #{/form}

    </div>
</div>


<div class="clear"><!-- clear --></div>