#{extends 'main.html' /}
#{set title:'Edit' /}

<h1>Edit Profile</h1>

<div id="col-one">

    <div class="profile-image">
        *{<%= image_tag @profile.photo.url(), :alt => @profile.full_name %>}*
        <img src="/public/${user.profile.getPhotoFileName()}" alt="${user.profile.getFullName()}"/>
    </div>
    <!-- /profile-image -->

    <div class="profile-actions">

    </div>
    <!-- /profile-actions -->

    <!--h2>User's profile updates (<%= @profile.statuses.count %>)</h2-->
    <h2>User's profile updates (${count})</h2>
    *{#{status /}}*
    #{list items:statuses, as:'status'}
    <div class="profile-stream">
        <div class="profile-stream-item">
            ${status.message}
            <!--%= render :partial => 'status', :collection => @profile.statuses %-->
        </div>
    </div>
    #{/list}
    <!-- /profile-stream -->

</div>
<!-- /col-one -->

<div id="col-two-large">
    <div class="profile-center">

        <h3>Edit your profile information here:</h3>
        <br />

        #{form @Profiles.edit()}
        #{authenticityToken /}
        <div class="default-form">
            <ul>
                <label for="firstName">First name</label>
                <input type="text" name="firstName" id="firstName" value="${flash.firstName}" />
                <span class="">#{error 'firstName' /}</span>

                <label for="lastName">Last name</label>
                <input type="text" name="lastName" id="lastName" value="${flash.lastName}" />
                <span class="Error">#{error 'lastName' /}</span>

                <label for="lastName">Profession</label>
                <input type="text" name="profession" id="profession" value="${flash.profession}" />
                <span class="Error">#{error 'profession' /}</span>

                <label for="company">Company</label>
                <input type="text" name="company" id="company" value="${flash.company}" />
                <span class="Error">#{error 'company' /}</span>

                <label for="about">About me</label>
                <textarea name="about" id="about" cols="35" rows="3" >${flash.about}</textarea>
                <span class="Error">#{error 'about' /}</span>

                <fieldset>
                    <legend>Contact data</legend>
                    <ul>
                        <label>COMPANY EMAIL:</label>
                        #{if flash.companyEmail=="n.n."}
                         <input type="text" name="companyEmail" id="companyEmail" />
                        #{/if}
                        #{else}
                         ${flash.companyEmail}<input type="checkbox" name="companyEmail" /> Delete?<br /><br />
                        #{/else}
                        <label>PRIVATE EMAIL:</label>
                        #{if flash.privateEmail=="n.n."}
                         <input type="text" name="privateEmail" id="privateEmail" />
                        #{/if}
                        #{else}
                         ${flash.privateEmail}<input type="checkbox" name="privateEmail" /> Delete?<br /><br />
                        #{/else}
                        <label>COMPANY PHONE:</label>
                        #{if flash.companyPhone=="n.n."}
                         <input type="text" name="companyPhone" id="companyPhone" />
                        #{/if}
                        #{else}
                         ${flash.companyPhone}<input type="checkbox" name="companyPhone" /> Delete?<br /><br />
                        #{/else}
                        <label>MOBILE PHONE:</label>
                        #{if flash.mobilePhone=="n.n."}
                         <input type="text" name="mobilePhone" id="mobilePhone" value="" />
                        #{/if}
                        #{else}
                         ${flash.mobilePhone}<input type="checkbox" name="mobilePhone" /> Delete?<br /><br />
                        #{/else}
                        <label>PRIVATE PHONE:</label>
                        #{if flash.privatePhone=="n.n."}
                         <input type="text" name="privatePhone" id="privatePhone" value="" />
                        #{/if}
                        #{else}
                         ${flash.privatePhone}<input type="checkbox" name="privatePhone" /> Delete?<br /><br />
                        #{/else}
                    </ul>
                </fieldset>

                <li class="submit-blue">
                    <input class="button-blue" value="Save" name="submit" id="submit" type="submit" />
                </li>
            </ul>
        </div>
        #{/form}

        *{<%= form_for @profile, :builder => Helloworld::FormBuilder do |f| %>
        #{errors /}
        <!--%= render :partial => "/errors", :object => @profile.errors %-->
        <div class="default-form">
            <ul>

                <%= f.block :first_name do %>
                <label>First Name</label>
                <%= f.text_field :first_name %>
                <%- end -%>

                <%= f.block :last_name do %>
                <label>Last Name</label>
                <%= f.text_field :last_name %>
                <%- end -%>

                <%= f.block :profession do %><label>Profession</label>
                <%= f.text_field :profession %>
                <%- end -%>

                <%= f.block :company do %><label>Company</label>
                <%= f.text_field :company %>
                <%- end -%>

                <%= f.block :about do %><label>About me</label>
                <%= f.text_area :about %>
                <%- end -%>

                <%= f.block :profile_attributes do %>
                <fieldset>
                    <legend>Contact data</legend>

                    <ul>
                        <%= f.fields_for :profile_attributes do |profile_attribute| %>
                        <%= profile_attribute.hidden_field :id %>
                        <%= profile_attribute.hidden_field :attr_type %>
                        <%= profile_attribute.block :value do %>
                        <label><%= profile_attribute.object.attr_type.humanize %>:</label>
                        <%- if profile_attribute.object.new_record? -%>
                        <%= profile_attribute.text_field :value %>
                        <%- else -%>
                        <%= profile_attribute.object.value %> <%= profile_attribute.check_box :_destroy %> Delete? <br /><br />
                        <%- end -%>
                        <%- end -%>
                        <%- end -%>
                    </ul>

                </fieldset>
                <%- end -%>

                <%= f.block :business_address do %>
                <fieldset>
                    <legend>Business address</legend>
                    <%= f.fields_for :business_address do |ba| %>
                    <%= render "edit_address", :address_form => ba %>
                    <%- end -%>
                </fieldset>
                <%- end -%>

                <%= f.block :private_address do %>
                <fieldset>
                    <legend>Private address</legend>
                    <%= f.fields_for :private_address do |pa| %>
                    <%= render "edit_address", :address_form => pa %>
                    <%- end -%>
                </fieldset>
                <%- end -%>

                <li class="submit-blue">
                    <%= f.submit %>
                </li>

            </ul>
        </div>

        <%- end -%>}*

    </div>
</div>


<div class="clear"><!-- clear --></div>