#{extends 'main.html' /}
#{set title:'Privat' /}

<h1>Private Profile</h1>

<div id="col-one">

  <div class="profile-image">
    <%= image_tag @profile.photo.url(), :alt => @profile.full_name %>
  </div>
  <!-- /profile-image -->

  <div class="profile-actions">
    <%- if can? :edit, @profile -%>
      <%= link_to edit_profile_url(@profile) do %>
        &raquo; Edit profile
      <%- end -%>
    <%- end -%>
  </div>
  <!-- /profile-actions -->

  <h2>User's profile updates</h2>

  <div class="profile-stream">
      #{status /}
    <!--%= render :partial => 'status', :collection => @profile.statuses %-->
  </div>
  <!-- /profile-stream -->

</div>
<!-- /col-one -->

<div id="col-two">
  <div class="profile-center">

    <h3><%= @profile.full_name %></h3>
    <p><%= @profile.profession %> at <strong><%= @profile.company %></strong></p>

    <%- if @profile.business_address -%>
      <div class="profile-center-company">
        <strong>Company Adress</strong>
        <%= render "address", :address => @profile.business_address %>
      </div>
    <%- end -%>

    <%- if @profile.private_address -%>
      <div class="profile-center-company">
        <strong>Private Adress</strong>
        <%= render "address", :address => @profile.private_address %>
      </div>
    <%- end -%>

    <h4>About Me</h4>
    <p><%= @profile.about %></p>

    <h4>Contact Data</h4>

    <%= contact_data(@profile, "company_email") %>
    <%= contact_data(@profile, "private_email") %>
    <%= contact_data(@profile, "company_phone") %>
    <%= contact_data(@profile, "mobile_phone") %>
    <%= contact_data(@profile, "private_phone") %>
  </div>

  <!--
  <a href="#" title="" class="button-blue">Send Message</a>
  -->

</div>
<!-- /col-two -->

<div id="col-three">
  <h2>User's contacts (<%= @profile.contacts.relation_accepted.count || 0 %>)</h2>

  <div class="contact-list-small">
    <%= render :partial => 'contact', :collection => @profile.contacts.relation_accepted %>
  </div>
  <!-- /contact-list-small -->
</div>
<!-- /col-three -->

<div class="clear"><!-- clear --></div>
