#{extends 'main.html' /}
#{set title:'Show' /}

<h1>Public Profile</h1>

<div id="col-one">

    <div class="profile-image">
        *{<%= image_tag @profile.photo.url(), :alt => @profile.full_name %>}*
        <img src="/public/${user.profile.getPhotoFileName()}" alt="${user.profile.getFullName()}"/>
    </div>
    <!-- /profile-image -->

    <div class="profile-actions">

    </div>
    <!-- /profile-actions -->

    <h2>User's profile updates *{(<%= @profile.statuses.count %>)}*(${count})</h2>

    *{#{status /}}*
    #{list items:statuses, as:'status'}
    <div class="profile-stream">
        <div class="profile-stream-item">
            ${status.message}
            <!--%= render :partial => 'status', :collection => @profile.statuses %-->
        </div>
    </div>
    #{/list}
    <!--%= render :partial => 'status', :collection => @profile.statuses %-->

    <!-- /profile-stream -->

</div>
<!-- /col-one -->

<div id="col-two">
    <div class="profile-center">

        <h3>*{<%= @profile.full_name %>}*
            ${user.profile.getFullName()}</h3>
        <p>*{<%= @profile.profession %>}*
            ${user.profile.profession} at <strong>
                *{<%= @profile.company %>}*
                ${user.profile.company}</strong></p>

        #{if user.profile.businessAddress != null }
        <div class="profile-center-company">
            <strong>Business Adress</strong>
            <br>${user.profile.businessAddress.street}
            <br>${user.profile.businessAddress.zip} ${user.profile.businessAddress.city}
        </div>
        #{/if}
        <!--%= render :partial => 'address',
          :collection => [@profile.business_address] %-->

    </div>

    <h4>About Me</h4>
    <p>*{<%= @profile.about %>}*
        ${user.profile.about}</p>

</div>

<!--
<a href="#" title="" class="button-blue">Send Message</a>
-->

</div>
<!-- /col-two -->

<div id="col-three">
    <h2>User's contacts (<%= @profile.contacts.relation_accepted.count || 0 %>)</h2>

    <div class="contact-list-small">
        #{layouts/contact /}
        <!--%= render :partial => 'contact', :collection => @profile.contacts.relation_accepted %-->
    </div>
    <!-- /contact-list-small -->
</div>
<!-- /col-three -->

<div class="clear"><!-- clear --></div>
