#{extends 'main.html' /}
<h2>View ProfileAttribute</h2>
<div class="entity">
	<div class="row">
		<span class="elem">
			companyEmail:
		</span>
		<span class="value">
      ${entity.companyEmail}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			privateEmail:
		</span>
		<span class="value">
      ${entity.privateEmail}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			companyPhone:
		</span>
		<span class="value">
      ${entity.companyPhone}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			mobilePhone:
		</span>
		<span class="value">
      ${entity.mobilePhone}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			privatePhone:
		</span>
		<span class="value">
      ${entity.privatePhone}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			profile:
		</span>
		<span class="value">
      ${entity.profile}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
</div>
<a href="@{ProfileAttributes.index}">Back</a>

