#{extends 'main.html' /}
#{set title:'World Status Feed' /}

<h1>World status feed</h1>


<div class="two-col-left">

    <h2>What do you want to share with the world?</h2>

    #{form @save()}

    #{ifErrors}
    <p class="error">
        Please correct these errors.
    </p>
    #{/ifErrors}

    <ul class="status-form">
        <li>
            #{field 'message'}
            <textarea name="${field.name}" class="${field.errorClass}" cols="35" rows="3">
                ${status?.message}
            </textarea>
            #{/field}
        </li>
        <li>
            <input class="button-blue" value="Publish" name="submit" id="submit" type="submit" />
        </li>
    </ul>
    #{/form}

</div>
<!-- two-col-left -->

<div class="two-col-right">

    <h2>The world says so:</h2>

    <div class="stream">
        #{list items:sublist, as:'status'}
        <div class="status">
            #{if status.profile != null}
            <a href="${status.profile.getFullName()}"><img src="/public/${status.profile.getPhotoFileName()}" class="stream-image" alt="${status.profile.getFullName()}"/></a>
            <div class="status-message">${status.message}</div>
            <a href="${status.profile}" class="username">${status.profile.getFullName()}</a> <span class="status-date">Datum</span>
            #{/if}
        </div>

        <div class="clear"></div>
        #{/list}

        *{
        #{if size>0 }
        #{a @Statuses.form(size) }[more]#{/a}
        #{/if}
        }*
    </div>
    <!-- /stream -->

</div>
<!-- two-col-right -->

<div class="clear"><!-- clear --></div>
