#{extends 'main.html' /}
#{set title:'World Status Feed' /}

<h1>World status feed</h1>


<div class="two-col-left">

    <h2>What do you want to share with the world?</h2>

    #{form @save()}

    #{ifErrors}
    <p class="error">
        Please correct these errors.
    </p>
    #{/ifErrors}

    <ul>
        <li>
            #{field 'message'}
            <textarea name="${field.name}"
                      class="${field.errorClass}" cols="35" rows="3">${status?.message}</textarea>
            #{/field}
        </li>
        <li>
            <input class="button-blue" name="submit" id="submit" type="submit" />
        </li>
    </ul>
    #{/form}

</div>
<!-- two-col-left -->

<div class="two-col-right">

    <h2>The world says so:</h2>

    <div class="stream">
        #{list items:statuses, as:'status'}
        <div class="status">
            <div class="status-message">
                ${status.message}
            </div>
            #{if status.profile != null}
                ${status.profile.getFullName()}
            #{/if}
        </div>
        #{/list}

        <!--%- @statuses.each do |status| -%>
        <div class="status">
            <%= link_to (image_tag status.profile.photo.url , :alt => "username", :class=> "stream-image"), profile_url(status.profile) %>
            <div class="status-message"><%= status.message %></div>

            <%= link_to status.profile.full_name, profile_url(status.profile), :class=>"username" %> <span class="status-date"><%= l(status.created_at, :format => :long) %></span>

        </div>
        <div class="clear"></div>
        <%- end -%-->
    </div>
    <!-- /stream -->

</div>
<!-- two-col-right -->



<div class="clear"><!-- clear --></div>
