#{extends 'main.html' /}
#{set title:'World Status Feed' /}

<h1>World status feed</h1>


<div class="two-col-left">

    <h2>What do you want to share with the world?</h2>

    #{form @Statuses.index()}
    <ul class="status-form">
        <li>
            <!--%= f.block :message do %-->
            <label for="message"></label>
            <textarea cols="35" rows="3">Your message</textarea>

            <!--%= f.block :submit do %>
            <!--%= f.submit "Publish" %>
            <!--%- end -%-->
            <input class="button-blue" name="submit" id="submit" type="submit" />
        </li>
    </ul>
    #{/form}

</div>
<!-- two-col-left -->



<div class="two-col-right">

    <h2>The world says so:</h2>

    <div class="stream">
        <%- @statuses.each do |status| -%>
        <div class="status">
            <%= link_to (image_tag status.profile.photo.url , :alt => "username", :class=> "stream-image"), profile_url(status.profile) %>
            <div class="status-message"><%= status.message %></div>

            <%= link_to status.profile.full_name, profile_url(status.profile), :class=>"username" %> <span class="status-date"><%= l(status.created_at, :format => :long) %></span>

        </div>
        <div class="clear"><!-- clear --></div>
        <%- end -%>
    </div>
    <!-- /stream -->

</div>
<!-- two-col-right -->



<div class="clear"><!-- clear --></div>
