#{extends 'main.html' /}
<h2>Users</h2>
<table class="entity User">
	<thead>
		<tr>
			<th><!-- actions --></th>
				<th>Login</th>
				<th>Password</th>
				<th>Profile</th>
				<th>Id</th>
		</tr>
	</thead>
	<tbody>
	#{list items:entities, as:'entity'}
		<tr>
			<td>
				<a href="@{Users.show(entity.id)}">Show</a>&nbsp;
				<a href="@{Users.edit(entity.id)}">Edit</a>&nbsp;
				<a href="@{Users.delete(entity.id)}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
			</td>
					<td>${entity.login}</td>
					<td>${entity.password}</td>
					<td>${entity.profile}</td>
					<td>${entity.id}</td>
		</tr>
	#{/list}
	</tbody>
</table>
<a href="@{Users.create}">Create</a>

