 <div class="row">
  <div class="label">Subject</div>
  <div class="field">
      <input type="text" name="entity.subject" value="${entity?.subject}"/>
  </div>
  <span class="error">${errors.forKey('entity.subject')}</span>
</div>
 <div class="row">
  <div class="label">Body</div>
  <div class="field">
      <input type="text" name="entity.body" value="${entity?.body}"/>
  </div>
  <span class="error">${errors.forKey('entity.body')}</span>
</div>
 <div class="row">
  <div class="label">From</div>
  <div class="field">
      <input type="text" name="entity.from" value="${entity?.from}"/>
  </div>
  <span class="error">${errors.forKey('entity.from')}</span>
</div>
 <div class="row">
  <div class="label">To</div>
  <div class="field">
      <input type="text" name="entity.to" value="${entity?.to}"/>
  </div>
  <span class="error">${errors.forKey('entity.to')}</span>
</div>
 <div class="row">
  <div class="label">Created At</div>
  <div class="field">
      <script type="text/javascript">
        $(function() {
          $("#createdAt").datepicker({ dateFormat: 'yy-mm-dd' } );
        });
      </script>
      <!-- TODO: date format needs to come from application.conf -->
      <input id="createdAt" type="text" name="entity.createdAt" 
        value="${entity?.createdAt?.format('yyyy-MM-dd')}"
        size="10" />
  </div>
  <span class="error">${errors.forKey('entity.createdAt')}</span>
</div>
 <div class="row">
  <div class="label">Updated At</div>
  <div class="field">
      <script type="text/javascript">
        $(function() {
          $("#updatedAt").datepicker({ dateFormat: 'yy-mm-dd' } );
        });
      </script>
      <!-- TODO: date format needs to come from application.conf -->
      <input id="updatedAt" type="text" name="entity.updatedAt" 
        value="${entity?.updatedAt?.format('yyyy-MM-dd')}"
        size="10" />
  </div>
  <span class="error">${errors.forKey('entity.updatedAt')}</span>
</div>
 <div class="row">
  <div class="label"></div>
  <div class="field">
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>

