#{extends 'main.html' /}
<h2>View ProfileMessage</h2>
<div class="entity">
	<div class="row">
		<span class="elem">
			subject:
		</span>
		<span class="value">
      ${entity.subject}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			body:
		</span>
		<span class="value">
      ${entity.body}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			from:
		</span>
		<span class="value">
      ${entity.from}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			to:
		</span>
		<span class="value">
      ${entity.to}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			createdAt:
		</span>
		<span class="value">
      ${entity.createdAt}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			updatedAt:
		</span>
		<span class="value">
      ${entity.updatedAt}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
</div>
<a href="@{ProfileMessages.index}">Back</a>

