#{extends 'main.html' /}
<h2>View Status</h2>
<div class="entity">
	<div class="row">
		<span class="elem">
			message:
		</span>
		<span class="value">
      ${entity.message}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			profile:
		</span>
		<span class="value">
      ${entity.profile}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			createdAt:
		</span>
		<span class="value">
      ${entity.createdAt}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			updatedAt:
		</span>
		<span class="value">
      ${entity.updatedAt}
		</span>
	</div>
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
</div>
<a href="@{Statuss.index}">Back</a>

