<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" lang="de">

    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/reset.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/dropdown.css'}" />
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/ico" href="@{'/public/favicon.ico'}" />
        <script src="@{'/public/javascripts/jquery-1.4.3.min.js'}" type="text/javascript" charset="utf-8">
            
        </script>
            
        <!--#{script src:'jquery-1.4.3.min.js', charset:'utf-8'/}-->
        #{get 'moreScripts' /}
    </head>
    <body>
        <a name="tothetop"></a>

        <div id="main">

            #{include 'tags/layouts/header.tag' /}
            <div id="content-holder">
                <div class="flash_messages">
                    #{list items:olderPosts, as:'oldPost'}
                    <div class="information_class">
                        #{display post:oldPost, as:'teaser' /}
                    </div>
                    #{/list}
                </div>
            </div>
            #{doLayout /}
        </div>
        #{include 'tags/layouts/footer.tag' /}
    </body>
</html>